<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <h1>Review</h1>
    <h2>Test: {{ test }}</h2>
    <h3>Question {{ qid + 1 }}:</h3>
    <p>{{ question.question }}</p>
    <p>Correct Answer: {{ question.answer }}</p>
    <p>Selected Answer: {{ selected_answer }}</p>
    {% if qid > 0 %}
        <a href="{{ url_for('review', test=test, qid=qid - 1) }}">Previous</a>
    {% endif %}
    {% if qid < (len(questions[test]) - 1) %}
        <a href="{{ url_for('review', test=test, qid=qid + 1) }}">Next</a>
    {% endif %}
</body>
</html>

